form {
	border: 2px solid red;
	width:fit-content;
}

input[type="submit"] {
	background-color: lightgreen;
	width: 251px;
	font-size: 25px;
	font-weight: bold;
}

#username, #password {
	width: 243px;
}

.text-login {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.text-label {
	font-size: 20px;
	font-weight: bold;
}